In [1]:
import pandas as pd
import os
import datetime

In [2]:
operation = "rent"
city = "lisbon"

read_path = f"../data/idealista/raw/{operation}/{city}"
save_path = f"../data/idealista/unioned/{operation}/{city}"

dataframes = []

for file in os.listdir(read_path):
    file_date = file[:10]
    if file.endswith(".csv"):
        dataframes.append(pd.read_csv(f"{read_path}/{file}", index_col='propertyCode'))
        dataframes[-1]["snapshotDate"] = datetime.datetime.strptime(file_date, "%Y-%m-%d").date()

In [3]:
# Combine the DataFrames
df = pd.concat(dataframes)

# Keep only the last occurrence of each index
df = df.loc[~df.index.duplicated(keep="last")]

# Keep only the listings that have unique values for the following columns
df = df.loc[
    ~df[
        [
            "floor",
            "propertyType",
            "size",
            "rooms",
            "bathrooms",
            "address",
            "description",
        ]
    ].duplicated(keep="last")
]

In [4]:
df.index.is_unique

True

In [5]:
save_path += f"/unioned-{city}-listings-for-{operation}.csv"

In [6]:
save_path

'../data/idealista/unioned/rent/lisbon/unioned-lisbon-listings-for-rent.csv'

In [7]:
# Save the unioned DataFrame to a new CSV file
df.to_csv(save_path, index_label="propertyCode")

In [8]:
df

,thumbnail,externalReference,numPhotos,floor,price,priceInfo,propertyType,operation,size,rooms,...,hasPlan,has3DTour,has360,hasStaging,topNewDevelopment,topPlus,neighborhood,parkingSpace,newDevelopmentFinished,snapshotDate
propertyCode,,,,,,,,,,,,,,,,,,,,,
33892869,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,133030_100125,18,NaN,1500.0,"{'price': {'amount': 1500.0, 'currencySuffix':...",flat,rent,180.0,3,...,False,False,False,False,False,False,NaN,NaN,NaN,2025-01-13
33896888,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,NaN,27,NaN,3950.0,"{'price': {'amount': 3950.0, 'currencySuffix':...",chalet,rent,172.0,4,...,False,False,False,False,False,False,São João,NaN,NaN,2025-01-13
33897140,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,136663_130125,19,NaN,1000.0,"{'price': {'amount': 1000.0, 'currencySuffix':...",flat,rent,60.0,1,...,False,False,False,False,False,False,NaN,NaN,NaN,2025-01-13
33897083,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,136661_110125,29,NaN,1100.0,"{'price': {'amount': 1100.0, 'currencySuffix':...",flat,rent,60.0,1,...,False,False,False,False,False,False,NaN,NaN,NaN,2025-01-13
33897081,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,133033_130125,103,1,1400.0,"{'price': {'amount': 1400.0, 'currencySuffix':...",flat,rent,60.0,2,...,True,False,False,False,False,False,NaN,NaN,NaN,2025-01-13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33921703,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,726256,15,NaN,5550.0,"{'price': {'amount': 5550.0, 'currencySuffix':...",flat,rent,11.0,2,...,False,False,False,False,False,False,NaN,NaN,NaN,2025-02-01
33921718,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,724171,13,NaN,5550.0,"{'price': {'amount': 5550.0, 'currencySuffix':...",flat,rent,11.0,2,...,False,False,False,False,False,False,NaN,NaN,NaN,2025-02-01
33921674,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,724003,10,NaN,5850.0,"{'price': {'amount': 5850.0, 'currencySuffix':...",flat,rent,11.0,2,...,False,False,False,False,False,False,NaN,NaN,NaN,2025-02-01
33921644,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,724001,11,NaN,5850.0,"{'price': {'amount': 5850.0, 'currencySuffix':...",flat,rent,11.0,2,...,False,False,False,False,False,False,NaN,NaN,NaN,2025-02-01
33921711,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,200740,12,NaN,6000.0,"{'price': {'amount': 6000.0, 'currencySuffix':...",flat,rent,11.0,2,...,False,False,False,False,False,False,NaN,NaN,NaN,2025-02-01