In [1]:
import pandas as pd
import ast

In [2]:
operation_type = "rent"
date_or_unioned = "unioned"

In [3]:
file_name = f"{date_or_unioned}-lisbon-listings-for-{operation_type}.csv"

In [4]:
df = pd.read_csv(f'../data/raw/{file_name}', index_col='propertyCode')

In [5]:
df.head()

,thumbnail,numPhotos,floor,price,priceInfo,propertyType,operation,size,rooms,bathrooms,...,suggestedTexts,hasPlan,has3DTour,has360,hasStaging,topNewDevelopment,topPlus,externalReference,parkingSpace,newDevelopmentFinished
propertyCode,,,,,,,,,,,,,,,,,,,,,
33894270,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,39,NaN,2250.0,"{'price': {'amount': 2250.0, 'currencySuffix':...",flat,rent,375.0,4,3,...,"{'subtitle': 'São João das Lampas e Terrugem, ...",False,False,False,False,False,False,9526HS,NaN,NaN
33894210,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,25,NaN,1620.0,"{'price': {'amount': 1620.0, 'currencySuffix':...",flat,rent,153.0,5,2,...,"{'subtitle': 'Saldanha - Picoas, Lisboa', 'tit...",False,False,False,False,False,False,APA_400,NaN,NaN
33894072,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,24,NaN,1500.0,"{'price': {'amount': 1500.0, 'currencySuffix':...",flat,rent,150.0,3,2,...,"{'subtitle': 'Galiza, Cascais', 'title': 'Apar...",False,False,False,False,False,False,9525JO,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN
33513874,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,20,-2,2700.0,"{'price': {'amount': 2700.0, 'currencySuffix':...",flat,rent,102.0,2,2,...,"{'subtitle': 'Estrela, Lisboa', 'title': 'Apar...",True,False,False,False,False,False,A0363.DV.ES,NaN,NaN
33884590,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,12,3,950.0,"{'price': {'amount': 950.0, 'currencySuffix': ...",flat,rent,121.0,3,2,...,"{'subtitle': 'Santo Onofre e Serra do Bouro, C...",False,False,False,False,False,False,APA_961,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3242 entries, 33894270 to 33896459
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   thumbnail               3236 non-null   object
 1   numPhotos               3242 non-null   int64
 2   floor                   1793 non-null   object
 3   price                   3242 non-null   float64
 4   priceInfo               3242 non-null   object
 5   propertyType            3242 non-null   object
 6   operation               3242 non-null   object
 7   size                    3242 non-null   float64
 8   rooms                   3242 non-null   int64
 9   bathrooms               3242 non-null   int64
 10  address                 3242 non-null   object
 11  province                3242 non-null   object
 12  municipality            3242 non-null   object
 13  district                2883 non-null   object
 14  country                 3242 non-null   object
 15  neighborhood            540 non-null    object
 16  latitude                3242 non-null   float64
 17  longitude               3242 non-null   float64
 18  showAddress             3242 non-null   bool
 19  url                     3242 non-null   object
 20  distance                2992 non-null   float64
 21  description             3233 non-null   object
 22  hasVideo                3242 non-null   bool
 23  status                  3241 non-null   object
 24  newDevelopment          3242 non-null   bool
 25  hasLift                 2671 non-null   object
 26  priceByArea             3242 non-null   float64
 27  detailedType            3242 non-null   object
 28  suggestedTexts          3242 non-null   object
 29  hasPlan                 3242 non-null   bool
 30  has3DTour               3242 non-null   bool
 31  has360                  3242 non-null   bool
 32  hasStaging              3242 non-null   bool
 33  topNewDevelopment       3242 non-null   bool
 34  topPlus                 3242 non-null   bool
 35  externalReference       2803 non-null   object
 36  parkingSpace            881 non-null    object
 37  newDevelopmentFinished  1 non-null      object
dtypes: bool(9), float64(6), int64(3), object(20)
memory usage: 788.3+ KB

In [7]:
df.describe()

,numPhotos,price,size,rooms,bathrooms,latitude,longitude,distance,priceByArea
count,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,3242.000000,2992.000000,3242.000000
mean,24.819247,2472.771746,140.022825,2.203886,1.786860,38.734871,-9.194709,11910.847259,24.665947
std,12.351382,2159.752625,1414.998329,1.220041,1.033789,0.125161,0.123814,14631.568284,18.503027
min,0.000000,550.000000,11.000000,0.000000,1.000000,37.957614,-9.482430,32.000000,0.000000
25%,16.000000,1350.000000,64.000000,1.000000,1.000000,38.705783,-9.234417,2557.750000,16.000000
50%,23.000000,1808.500000,92.000000,2.000000,2.000000,38.718882,-9.159323,5485.000000,21.000000
75%,30.000000,2700.000000,137.750000,3.000000,2.000000,38.744870,-9.136646,19052.500000,28.000000
max,119.000000,25000.000000,80500.000000,15.000000,15.000000,39.541925,-8.559313,89903.000000,340.000000

In [8]:
df.isnull().sum()

thumbnail                    6
numPhotos                    0
floor                     1449
price                        0
priceInfo                    0
propertyType                 0
operation                    0
size                         0
rooms                        0
bathrooms                    0
address                      0
province                     0
municipality                 0
district                   359
country                      0
neighborhood              2702
latitude                     0
longitude                    0
showAddress                  0
url                          0
distance                   250
description                  9
hasVideo                     0
status                       1
newDevelopment               0
hasLift                    571
priceByArea                  0
detailedType                 0
suggestedTexts               0
hasPlan                      0
has3DTour                    0
has360                       0
hasStaging                   0
topNewDevelopment            0
topPlus                      0
externalReference          439
parkingSpace              2361
newDevelopmentFinished    3241
dtype: int64

In [9]:
df.columns

Index(['thumbnail', 'numPhotos', 'floor', 'price', 'priceInfo', 'propertyType',
       'operation', 'size', 'rooms', 'bathrooms', 'address', 'province',
       'municipality', 'district', 'country', 'neighborhood', 'latitude',
       'longitude', 'showAddress', 'url', 'distance', 'description',
       'hasVideo', 'status', 'newDevelopment', 'hasLift', 'priceByArea',
       'detailedType', 'suggestedTexts', 'hasPlan', 'has3DTour', 'has360',
       'hasStaging', 'topNewDevelopment', 'topPlus', 'externalReference',
       'parkingSpace', 'newDevelopmentFinished'],
      dtype='object')

In [10]:
df = df.drop(columns=['thumbnail', 'numPhotos', 'operation', 'hasVideo', 'hasPlan', 'has3DTour', 'has360', 'hasStaging', 'externalReference', 'detailedType', 'suggestedTexts'])

In [11]:
df.columns

Index(['floor', 'price', 'priceInfo', 'propertyType', 'size', 'rooms',
       'bathrooms', 'address', 'province', 'municipality', 'district',
       'country', 'neighborhood', 'latitude', 'longitude', 'showAddress',
       'url', 'distance', 'description', 'status', 'newDevelopment', 'hasLift',
       'priceByArea', 'topNewDevelopment', 'topPlus', 'parkingSpace',
       'newDevelopmentFinished'],
      dtype='object')

In [12]:
df = df.drop_duplicates()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3242 entries, 33894270 to 33896459
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   floor                   1793 non-null   object
 1   price                   3242 non-null   float64
 2   priceInfo               3242 non-null   object
 3   propertyType            3242 non-null   object
 4   size                    3242 non-null   float64
 5   rooms                   3242 non-null   int64
 6   bathrooms               3242 non-null   int64
 7   address                 3242 non-null   object
 8   province                3242 non-null   object
 9   municipality            3242 non-null   object
 10  district                2883 non-null   object
 11  country                 3242 non-null   object
 12  neighborhood            540 non-null    object
 13  latitude                3242 non-null   float64
 14  longitude               3242 non-null   float64
 15  showAddress             3242 non-null   bool
 16  url                     3242 non-null   object
 17  distance                2992 non-null   float64
 18  description             3233 non-null   object
 19  status                  3241 non-null   object
 20  newDevelopment          3242 non-null   bool
 21  hasLift                 2671 non-null   object
 22  priceByArea             3242 non-null   float64
 23  topNewDevelopment       3242 non-null   bool
 24  topPlus                 3242 non-null   bool
 25  parkingSpace            881 non-null    object
 26  newDevelopmentFinished  1 non-null      object
dtypes: bool(4), float64(6), int64(2), object(15)
memory usage: 620.5+ KB

In [14]:
df.head()

,floor,price,priceInfo,propertyType,size,rooms,bathrooms,address,province,municipality,...,distance,description,status,newDevelopment,hasLift,priceByArea,topNewDevelopment,topPlus,parkingSpace,newDevelopmentFinished
propertyCode,,,,,,,,,,,,,,,,,,,,,
33894270,NaN,2250.0,"{'price': {'amount': 2250.0, 'currencySuffix':...",flat,375.0,4,3,São João das Lampas e Terrugem,Lisboa,São João das Lampas e Terrugem,...,30520.0,Moradia com Divisões de Áreas Generosas. Imóve...,good,False,False,6.0,False,False,NaN,NaN
33894210,NaN,1620.0,"{'price': {'amount': 1620.0, 'currencySuffix':...",flat,153.0,5,2,Saldanha - Picoas,Lisboa,Arroios,...,571.0,Apartamento de 7 assoalhadas (T5+1) de traça a...,good,False,False,11.0,False,False,NaN,NaN
33894072,NaN,1500.0,"{'price': {'amount': 1500.0, 'currencySuffix':...",flat,150.0,3,2,Galiza,Lisboa,Cascais e Estoril,...,21466.0,"Situado em São João do Estoril, com vista para...",good,False,True,10.0,False,False,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN
33513874,-2,2700.0,"{'price': {'amount': 2700.0, 'currencySuffix':...",flat,102.0,2,2,Doca de Alcântara,Lisboa,Estrela,...,3826.0,Apartamento T2 com 103 m2 de área bruta privat...,good,False,True,26.0,False,False,NaN,NaN
33884590,3,950.0,"{'price': {'amount': 950.0, 'currencySuffix': ...",flat,121.0,3,2,Santo Onofre e Serra do Bouro,Leiria,Santo Onofre e Serra do Bouro,...,75315.0,Apartamento com Sótão localizado na Cidade Nov...,good,False,False,8.0,False,False,NaN,NaN

In [15]:
df.floor.unique()

array([nan, '-2', '3', '1', '2', '5', 'bj', '8', '4', '7', 'st', '6', '9',
       '13', '11', '12', '15', '14', '10', '17', 'ss', '-1', '16', 'en'],
      dtype=object)

In [16]:
df[df.floor == 'en']

,floor,price,priceInfo,propertyType,size,rooms,bathrooms,address,province,municipality,...,distance,description,status,newDevelopment,hasLift,priceByArea,topNewDevelopment,topPlus,parkingSpace,newDevelopmentFinished
propertyCode,,,,,,,,,,,,,,,,,,,,,
33901878,en,1130.0,"{'price': {'amount': 1130.0, 'currencySuffix':...",flat,55.0,1,1,"travessa do Olival à Graça, 46",Lisboa,São Vicente,...,NaN,T1 Mobilado e Equipado com Pátio. Arrendamento...,good,False,False,21.0,False,False,NaN,NaN
33898761,en,1350.0,"{'price': {'amount': 1350.0, 'currencySuffix':...",flat,49.0,1,1,travessa dos Fiéis de Deus,Lisboa,Misericórdia,...,NaN,"T1 com mezanino remodelado, mobilado - Travess...",good,False,False,28.0,False,False,NaN,NaN

In [17]:
df.floor = df.floor.str.replace('bj', '0')
df.floor = df.floor.str.replace('-', '')
df.floor = df.floor.str.replace('st', '-1')
df.floor = df.floor.str.replace('ss', '-1')
df.floor = df.floor.str.replace('en', '-1')
df.floor = df.floor.astype(float)

In [18]:
df.floor.describe()

count    1793.000000
mean        2.613497
std         2.427883
min        -1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max        17.000000
Name: floor, dtype: float64

In [19]:
df.priceInfo.unique()

array(["{'price': {'amount': 2250.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1620.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2700.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 950.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 7750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2500.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 3500.0, 'priceDropValue': 1000, 'priceDropPercentage': 29}}}",
       "{'price': {'amount': 1300.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1850.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 5000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2950.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2760.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3950.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1100.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1400.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3600.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2475.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2150.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1950.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 700.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 975.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2400.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1650.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2595.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1150.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1250.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3650.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3300.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 13000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1600.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1080.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1580.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 775.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1700.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1860.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1280.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1350.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6000.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 7800.0, 'priceDropValue': 1800, 'priceDropPercentage': 23}}}",
       "{'price': {'amount': 1750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3400.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3550.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2300.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2060.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2199.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2290.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1050.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 850.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 800.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 850.0, 'priceDropValue': 50, 'priceDropPercentage': 6}}}",
       "{'price': {'amount': 2500.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 3000.0, 'priceDropValue': 500, 'priceDropPercentage': 17}}}",
       "{'price': {'amount': 2200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1550.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2350.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 8000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1490.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1450.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6700.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 15000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3450.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2100.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1800.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2000.0, 'priceDropValue': 200, 'priceDropPercentage': 10}}}",
       "{'price': {'amount': 4800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1852.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 7900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1326.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 7950.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 9500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2600.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 790.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3100.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 920.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 20000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1290.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1350.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1500.0, 'priceDropValue': 150, 'priceDropPercentage': 10}}}",
       "{'price': {'amount': 4100.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2450.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1975.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1550.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1700.0, 'priceDropValue': 150, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 5500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 925.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 990.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2177.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1440.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3360.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4692.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 920.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1050.0, 'priceDropValue': 130, 'priceDropPercentage': 12}}}",
       "{'price': {'amount': 1900.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2000.0, 'priceDropValue': 100, 'priceDropPercentage': 5}}}",
       "{'price': {'amount': 870.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2423.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 875.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 890.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 8500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1950.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2250.0, 'priceDropValue': 300, 'priceDropPercentage': 13}}}",
       "{'price': {'amount': 2800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3690.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1380.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2200.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 3000.0, 'priceDropValue': 800, 'priceDropPercentage': 27}}}",
       "{'price': {'amount': 5100.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2650.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1550.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2150.0, 'priceDropValue': 600, 'priceDropPercentage': 28}}}",
       "{'price': {'amount': 7500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1980.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 7200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 9000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1730.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1940.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2050.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1510.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2160.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2380.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1600.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1700.0, 'priceDropValue': 100, 'priceDropPercentage': 6}}}",
       "{'price': {'amount': 2689.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1400.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1500.0, 'priceDropValue': 100, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 9800.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 10500.0, 'priceDropValue': 700, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 1000.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1100.0, 'priceDropValue': 100, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 3150.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2850.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3250.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1780.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 11400.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 999.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1250.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1350.0, 'priceDropValue': 100, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 2750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 600.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 11000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 10500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2780.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1890.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2920.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1185.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2190.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1275.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2844.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2083.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4600.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1500.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1600.0, 'priceDropValue': 100, 'priceDropPercentage': 6}}}",
       "{'price': {'amount': 1690.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2600.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2800.0, 'priceDropValue': 200, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 6200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1375.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1320.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1100.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1200.0, 'priceDropValue': 100, 'priceDropPercentage': 8}}}",
       "{'price': {'amount': 1300.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1500.0, 'priceDropValue': 200, 'priceDropPercentage': 13}}}",
       "{'price': {'amount': 1958.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 820.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3570.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3701.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 7000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1100.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1475.0, 'priceDropValue': 375, 'priceDropPercentage': 25}}}",
       "{'price': {'amount': 725.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1790.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3700.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1090.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 675.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 915.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1390.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1990.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1021.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6480.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 16000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 25000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1590.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1700.0, 'priceDropValue': 110, 'priceDropPercentage': 6}}}",
       "{'price': {'amount': 4000.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 4500.0, 'priceDropValue': 500, 'priceDropPercentage': 11}}}",
       "{'price': {'amount': 10000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1325.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1190.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1140.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 9900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 17000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2640.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1450.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1550.0, 'priceDropValue': 100, 'priceDropPercentage': 6}}}",
       "{'price': {'amount': 1887.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2083.0, 'priceDropValue': 196, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 2554.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2936.0, 'priceDropValue': 382, 'priceDropPercentage': 13}}}",
       "{'price': {'amount': 14000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 9750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 780.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2500.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2800.0, 'priceDropValue': 300, 'priceDropPercentage': 11}}}",
       "{'price': {'amount': 2480.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2000.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2200.0, 'priceDropValue': 200, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 2550.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1850.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1990.0, 'priceDropValue': 140, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 995.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2490.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2750.0, 'priceDropValue': 260, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 1985.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2890.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1065.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1200.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1300.0, 'priceDropValue': 100, 'priceDropPercentage': 8}}}",
       "{'price': {'amount': 990.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1150.0, 'priceDropValue': 160, 'priceDropPercentage': 14}}}",
       "{'price': {'amount': 7000.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 7500.0, 'priceDropValue': 500, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 11800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2125.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1208.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 990.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1100.0, 'priceDropValue': 110, 'priceDropPercentage': 10}}}",
       "{'price': {'amount': 1090.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1200.0, 'priceDropValue': 110, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 1391.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1274.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6910.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1590.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3990.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 4200.0, 'priceDropValue': 210, 'priceDropPercentage': 5}}}",
       "{'price': {'amount': 1395.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 18500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1295.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 607.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2126.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1314.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 948.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1740.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2000.0, 'priceDropValue': 260, 'priceDropPercentage': 13}}}",
       "{'price': {'amount': 1950.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2100.0, 'priceDropValue': 150, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 900.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1000.0, 'priceDropValue': 100, 'priceDropPercentage': 10}}}",
       "{'price': {'amount': 4750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1600.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1800.0, 'priceDropValue': 200, 'priceDropPercentage': 11}}}",
       "{'price': {'amount': 3210.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1005.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1750.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2000.0, 'priceDropValue': 250, 'priceDropPercentage': 13}}}",
       "{'price': {'amount': 1900.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2100.0, 'priceDropValue': 200, 'priceDropPercentage': 10}}}",
       "{'price': {'amount': 2680.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1995.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2490.0, 'currencySuffix': '€/mês'}}",

In [20]:
# Function to parse the price and coalesce the formerPrice
def extract_former_price(price_str):
    # Parse the string to a dictionary
    price_dict = ast.literal_eval(price_str)
    price_info = price_dict.get('price', {})
    amount = price_info.get('amount')  # Current price
    price_drop_info = price_info.get('priceDropInfo', {})
    former_price = price_drop_info.get('formerPrice')  # Former price, if available
    # Coalesce formerPrice with the current price
    return former_price if former_price is not None else amount

# Apply the function to create the formerPrice column
df['formerPrice'] = df['priceInfo'].apply(extract_former_price)
df['priceChange'] = df['formerPrice'] - df['price']
df = df.drop(columns=['priceInfo'])

In [21]:
df['formerPrice']

propertyCode
33894270    2250.0
33894210    1620.0
33894072    1500.0
33513874    2700.0
33884590     950.0
             ...
33896870    1600.0
33896861    1700.0
33896773    1850.0
33896741    5000.0
33896459    2300.0
Name: formerPrice, Length: 3242, dtype: float64

In [22]:
df.head()

,floor,price,propertyType,size,rooms,bathrooms,address,province,municipality,district,...,status,newDevelopment,hasLift,priceByArea,topNewDevelopment,topPlus,parkingSpace,newDevelopmentFinished,formerPrice,priceChange
propertyCode,,,,,,,,,,,,,,,,,,,,,
33894270,NaN,2250.0,flat,375.0,4,3,São João das Lampas e Terrugem,Lisboa,São João das Lampas e Terrugem,NaN,...,good,False,False,6.0,False,False,NaN,NaN,2250.0,0.0
33894210,NaN,1620.0,flat,153.0,5,2,Saldanha - Picoas,Lisboa,Arroios,São Jorge de Arroios,...,good,False,False,11.0,False,False,NaN,NaN,1620.0,0.0
33894072,NaN,1500.0,flat,150.0,3,2,Galiza,Lisboa,Cascais e Estoril,Estoril,...,good,False,True,10.0,False,False,"{'hasParkingSpace': True, 'isParkingSpaceInclu...",NaN,1500.0,0.0
33513874,2.0,2700.0,flat,102.0,2,2,Doca de Alcântara,Lisboa,Estrela,Doca de Alcântara,...,good,False,True,26.0,False,False,NaN,NaN,2700.0,0.0
33884590,3.0,950.0,flat,121.0,3,2,Santo Onofre e Serra do Bouro,Leiria,Santo Onofre e Serra do Bouro,NaN,...,good,False,False,8.0,False,False,NaN,NaN,950.0,0.0

In [23]:
df.parkingSpace.unique()

array([nan,
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 100.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 300.0}"],
      dtype=object)

In [24]:
df['parkingSpace'] = df['parkingSpace'].fillna('{}')
df['parsed'] = df['parkingSpace'].apply(ast.literal_eval)
df['hasParkingSpace'] = df['parsed'].apply(lambda x: x.get('hasParkingSpace', False))
df['isParkingSpaceIncludedInPrice'] = df['parsed'].apply(lambda x: x.get('isParkingSpaceIncludedInPrice', False))
df.drop(columns=['parkingSpace', 'parsed'], inplace=True)

In [25]:
df.head()

,floor,price,propertyType,size,rooms,bathrooms,address,province,municipality,district,...,newDevelopment,hasLift,priceByArea,topNewDevelopment,topPlus,newDevelopmentFinished,formerPrice,priceChange,hasParkingSpace,isParkingSpaceIncludedInPrice
propertyCode,,,,,,,,,,,,,,,,,,,,,
33894270,NaN,2250.0,flat,375.0,4,3,São João das Lampas e Terrugem,Lisboa,São João das Lampas e Terrugem,NaN,...,False,False,6.0,False,False,NaN,2250.0,0.0,False,False
33894210,NaN,1620.0,flat,153.0,5,2,Saldanha - Picoas,Lisboa,Arroios,São Jorge de Arroios,...,False,False,11.0,False,False,NaN,1620.0,0.0,False,False
33894072,NaN,1500.0,flat,150.0,3,2,Galiza,Lisboa,Cascais e Estoril,Estoril,...,False,True,10.0,False,False,NaN,1500.0,0.0,True,True
33513874,2.0,2700.0,flat,102.0,2,2,Doca de Alcântara,Lisboa,Estrela,Doca de Alcântara,...,False,True,26.0,False,False,NaN,2700.0,0.0,False,False
33884590,3.0,950.0,flat,121.0,3,2,Santo Onofre e Serra do Bouro,Leiria,Santo Onofre e Serra do Bouro,NaN,...,False,False,8.0,False,False,NaN,950.0,0.0,False,False

In [26]:
df[df.hasLift.isnull()].head()

,floor,price,propertyType,size,rooms,bathrooms,address,province,municipality,district,...,newDevelopment,hasLift,priceByArea,topNewDevelopment,topPlus,newDevelopmentFinished,formerPrice,priceChange,hasParkingSpace,isParkingSpaceIncludedInPrice
propertyCode,,,,,,,,,,,,,,,,,,,,,
33893930,NaN,7750.0,chalet,300.0,6,5,rua dos Miosótis,Setúbal,Charneca da Caparica e Sobreda,Aroeira,...,False,NaN,26.0,False,False,NaN,7750.0,0.0,True,True
33817682,NaN,950.0,flat,114.0,2,1,Mercês,Lisboa,Algueirão - Mem Martins,Mercês,...,False,NaN,8.0,False,False,NaN,950.0,0.0,False,False
33896888,NaN,3950.0,chalet,172.0,4,3,São João,Lisboa,Cascais e Estoril,Estoril,...,False,NaN,23.0,False,False,NaN,3950.0,0.0,False,False
33896900,NaN,2250.0,chalet,375.0,4,3,São João das Lampas e Terrugem,Lisboa,São João das Lampas e Terrugem,NaN,...,False,NaN,6.0,False,False,NaN,2250.0,0.0,False,False
33896470,NaN,4000.0,chalet,184.0,4,3,rua Brincos de Princesa,Lisboa,Sintra,Abrunheira - Albarraque,...,False,NaN,22.0,False,False,NaN,4000.0,0.0,True,True

In [27]:
df.columns

Index(['floor', 'price', 'propertyType', 'size', 'rooms', 'bathrooms',
       'address', 'province', 'municipality', 'district', 'country',
       'neighborhood', 'latitude', 'longitude', 'showAddress', 'url',
       'distance', 'description', 'status', 'newDevelopment', 'hasLift',
       'priceByArea', 'topNewDevelopment', 'topPlus', 'newDevelopmentFinished',
       'formerPrice', 'priceChange', 'hasParkingSpace',
       'isParkingSpaceIncludedInPrice'],
      dtype='object')

In [28]:
df = df[df['price'] > 0]

In [29]:
import pandas as pd

def remove_outliers(df, variables, thresholds=None):
    """
    Removes outliers from specified variables using IQR or domain-based thresholds.
    
    Parameters:
    df (pd.DataFrame): The dataset.
    variables (list): List of variables to check for outliers.
    thresholds (dict): Optional custom lower and upper bounds for specific variables.
                       Format: {'variable': {'lower': value, 'upper': value}}
    
    Returns:
    pd.DataFrame: Dataset with outliers removed.
    """
    df_cleaned = df.copy()
    
    for variable in variables:
        # Check for custom thresholds
        if thresholds and variable in thresholds:
            lower = thresholds[variable].get('lower', None)
            upper = thresholds[variable].get('upper', None)
        else:
            # Default to IQR if no custom threshold provided
            Q1 = df_cleaned[variable].quantile(0.25)
            Q3 = df_cleaned[variable].quantile(0.75)
            IQR = Q3 - Q1
            lower = Q1 - 1.5 * IQR
            upper = Q3 + 1.5 * IQR
        
        # Remove outliers
        df_cleaned = df_cleaned[(df_cleaned[variable] >= lower) & (df_cleaned[variable] <= upper)]
    
    return df_cleaned

In [30]:
df.select_dtypes(include='number').columns

Index(['floor', 'price', 'size', 'rooms', 'bathrooms', 'latitude', 'longitude',
       'distance', 'priceByArea', 'formerPrice', 'priceChange'],
      dtype='object')

In [31]:
variables_with_outliers = ['price', 'size', 'rooms', 'bathrooms']

In [32]:
# Remove outliers for all specified variables
df_cleaned = remove_outliers(df, variables_with_outliers)

In [33]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2846 entries, 33894210 to 33896459
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   floor                          1611 non-null   float64
 1   price                          2846 non-null   float64
 2   propertyType                   2846 non-null   object
 3   size                           2846 non-null   float64
 4   rooms                          2846 non-null   int64
 5   bathrooms                      2846 non-null   int64
 6   address                        2846 non-null   object
 7   province                       2846 non-null   object
 8   municipality                   2846 non-null   object
 9   district                       2513 non-null   object
 10  country                        2846 non-null   object
 11  neighborhood                   412 non-null    object
 12  latitude                       2846 non-null   float64
 13  longitude                      2846 non-null   float64
 14  showAddress                    2846 non-null   bool
 15  url                            2846 non-null   object
 16  distance                       2610 non-null   float64
 17  description                    2838 non-null   object
 18  status                         2845 non-null   object
 19  newDevelopment                 2846 non-null   bool
 20  hasLift                        2443 non-null   object
 21  priceByArea                    2846 non-null   float64
 22  topNewDevelopment              2846 non-null   bool
 23  topPlus                        2846 non-null   bool
 24  newDevelopmentFinished         1 non-null      object
 25  formerPrice                    2846 non-null   float64
 26  priceChange                    2846 non-null   float64
 27  hasParkingSpace                2846 non-null   bool
 28  isParkingSpaceIncludedInPrice  2846 non-null   bool
dtypes: bool(6), float64(9), int64(2), object(12)
memory usage: 550.3+ KB

In [34]:
df_cleaned.to_csv(f'../data/cleaned/{file_name}', index=True)