In [1]:
import pandas as pd
import ast

In [2]:
operation_type = "rent"
data_snapshot_date = "2025-01-13"

In [3]:
file_name = f"{data_snapshot_date}-lisbon-listings-for-{operation_type}.csv"

In [4]:
df = pd.read_csv(f'../data/raw/{file_name}', index_col='propertyCode')

In [5]:
df.head()

,thumbnail,externalReference,numPhotos,floor,price,priceInfo,propertyType,operation,size,rooms,...,suggestedTexts,hasPlan,has3DTour,has360,hasStaging,topNewDevelopment,topPlus,neighborhood,parkingSpace,newDevelopmentFinished
propertyCode,,,,,,,,,,,,,,,,,,,,,
33897215,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,67031_110125,12,3,760.0,"{'price': {'amount': 760.0, 'currencySuffix': ...",flat,rent,30.0,1,...,"{'subtitle': 'Misericórdia, Lisboa', 'title': ...",False,False,False,False,False,False,NaN,NaN,NaN
33892870,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,128890_100125,10,NaN,850.0,"{'price': {'amount': 850.0, 'currencySuffix': ...",studio,rent,50.0,0,...,"{'subtitle': 'Ajuda, Lisboa', 'title': 'T0 no ...",False,False,False,False,False,False,NaN,NaN,NaN
33897203,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,157633_130125,28,NaN,1807.0,"{'price': {'amount': 1807.0, 'currencySuffix':...",studio,rent,25.0,0,...,"{'subtitle': 'Santo António, Lisboa', 'title':...",False,False,False,False,False,False,NaN,NaN,NaN
33892869,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,133030_100125,18,NaN,1500.0,"{'price': {'amount': 1500.0, 'currencySuffix':...",flat,rent,180.0,3,...,{'subtitle': 'Santo Antão e São Julião do Toja...,False,False,False,False,False,False,NaN,NaN,NaN
33897210,https://img4.idealista.pt/blur/WEB_LISTING/0/i...,155743_130125,20,5,1200.0,"{'price': {'amount': 1200.0, 'currencySuffix':...",flat,rent,43.0,1,...,"{'subtitle': 'Ajuda, Lisboa', 'title': 'Aparta...",False,False,False,False,False,False,NaN,NaN,NaN

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, 33897215 to 33051586
Data columns (total 38 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   thumbnail               2999 non-null   object
 1   externalReference       2606 non-null   object
 2   numPhotos               3000 non-null   int64
 3   floor                   1620 non-null   object
 4   price                   3000 non-null   float64
 5   priceInfo               3000 non-null   object
 6   propertyType            3000 non-null   object
 7   operation               3000 non-null   object
 8   size                    3000 non-null   float64
 9   rooms                   3000 non-null   int64
 10  bathrooms               3000 non-null   int64
 11  address                 3000 non-null   object
 12  province                3000 non-null   object
 13  municipality            3000 non-null   object
 14  district                2657 non-null   object
 15  country                 3000 non-null   object
 16  latitude                3000 non-null   float64
 17  longitude               3000 non-null   float64
 18  showAddress             3000 non-null   bool
 19  url                     3000 non-null   object
 20  distance                3000 non-null   int64
 21  description             2991 non-null   object
 22  hasVideo                3000 non-null   bool
 23  status                  2999 non-null   object
 24  newDevelopment          3000 non-null   bool
 25  hasLift                 2454 non-null   object
 26  priceByArea             3000 non-null   float64
 27  detailedType            3000 non-null   object
 28  suggestedTexts          3000 non-null   object
 29  hasPlan                 3000 non-null   bool
 30  has3DTour               3000 non-null   bool
 31  has360                  3000 non-null   bool
 32  hasStaging              3000 non-null   bool
 33  topNewDevelopment       3000 non-null   bool
 34  topPlus                 3000 non-null   bool
 35  neighborhood            525 non-null    object
 36  parkingSpace            820 non-null    object
 37  newDevelopmentFinished  1 non-null      object
dtypes: bool(9), float64(5), int64(4), object(20)
memory usage: 729.5+ KB

In [7]:
df.isnull().sum()

thumbnail                    1
externalReference          394
numPhotos                    0
floor                     1380
price                        0
priceInfo                    0
propertyType                 0
operation                    0
size                         0
rooms                        0
bathrooms                    0
address                      0
province                     0
municipality                 0
district                   343
country                      0
latitude                     0
longitude                    0
showAddress                  0
url                          0
distance                     0
description                  9
hasVideo                     0
status                       1
newDevelopment               0
hasLift                    546
priceByArea                  0
detailedType                 0
suggestedTexts               0
hasPlan                      0
has3DTour                    0
has360                       0
hasStaging                   0
topNewDevelopment            0
topPlus                      0
neighborhood              2475
parkingSpace              2180
newDevelopmentFinished    2999
dtype: int64

In [8]:
df.columns

Index(['thumbnail', 'externalReference', 'numPhotos', 'floor', 'price',
       'priceInfo', 'propertyType', 'operation', 'size', 'rooms', 'bathrooms',
       'address', 'province', 'municipality', 'district', 'country',
       'latitude', 'longitude', 'showAddress', 'url', 'distance',
       'description', 'hasVideo', 'status', 'newDevelopment', 'hasLift',
       'priceByArea', 'detailedType', 'suggestedTexts', 'hasPlan', 'has3DTour',
       'has360', 'hasStaging', 'topNewDevelopment', 'topPlus', 'neighborhood',
       'parkingSpace', 'newDevelopmentFinished'],
      dtype='object')

In [9]:
df = df.drop(columns=['thumbnail', 'numPhotos', 'operation', 'hasVideo', 'hasPlan', 'has3DTour', 'has360', 'hasStaging', 'externalReference', 'detailedType', 'suggestedTexts'])

In [10]:
df.columns

Index(['floor', 'price', 'priceInfo', 'propertyType', 'size', 'rooms',
       'bathrooms', 'address', 'province', 'municipality', 'district',
       'country', 'latitude', 'longitude', 'showAddress', 'url', 'distance',
       'description', 'status', 'newDevelopment', 'hasLift', 'priceByArea',
       'topNewDevelopment', 'topPlus', 'neighborhood', 'parkingSpace',
       'newDevelopmentFinished'],
      dtype='object')

In [11]:
df = df.drop_duplicates()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3000 entries, 33897215 to 33051586
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   floor                   1620 non-null   object
 1   price                   3000 non-null   float64
 2   priceInfo               3000 non-null   object
 3   propertyType            3000 non-null   object
 4   size                    3000 non-null   float64
 5   rooms                   3000 non-null   int64
 6   bathrooms               3000 non-null   int64
 7   address                 3000 non-null   object
 8   province                3000 non-null   object
 9   municipality            3000 non-null   object
 10  district                2657 non-null   object
 11  country                 3000 non-null   object
 12  latitude                3000 non-null   float64
 13  longitude               3000 non-null   float64
 14  showAddress             3000 non-null   bool
 15  url                     3000 non-null   object
 16  distance                3000 non-null   int64
 17  description             2991 non-null   object
 18  status                  2999 non-null   object
 19  newDevelopment          3000 non-null   bool
 20  hasLift                 2454 non-null   object
 21  priceByArea             3000 non-null   float64
 22  topNewDevelopment       3000 non-null   bool
 23  topPlus                 3000 non-null   bool
 24  neighborhood            525 non-null    object
 25  parkingSpace            820 non-null    object
 26  newDevelopmentFinished  1 non-null      object
dtypes: bool(4), float64(5), int64(3), object(15)
memory usage: 574.2+ KB

In [13]:
df.head()

,floor,price,priceInfo,propertyType,size,rooms,bathrooms,address,province,municipality,...,description,status,newDevelopment,hasLift,priceByArea,topNewDevelopment,topPlus,neighborhood,parkingSpace,newDevelopmentFinished
propertyCode,,,,,,,,,,,,,,,,,,,,,
33897215,3,760.0,"{'price': {'amount': 760.0, 'currencySuffix': ...",flat,30.0,1,1,travessa da Cara,Lisboa,Misericórdia,...,Disponível em: 01/02/2025. Reserve em linha c...,good,False,False,25.0,False,False,NaN,NaN,NaN
33892870,NaN,850.0,"{'price': {'amount': 850.0, 'currencySuffix': ...",studio,50.0,0,1,beco João Alves,Lisboa,Ajuda,...,Disponível em: 01/02/2025. Reserve em linha c...,good,False,False,17.0,False,False,NaN,NaN,NaN
33897203,NaN,1807.0,"{'price': {'amount': 1807.0, 'currencySuffix':...",studio,25.0,0,1,rua do Conde de Redondo,Lisboa,Santo António,...,Disponível em: 01/02/2025. Reserve em linha c...,good,False,False,72.0,False,False,NaN,NaN,NaN
33892869,NaN,1500.0,"{'price': {'amount': 1500.0, 'currencySuffix':...",flat,180.0,3,2,rua de Entre-Muros,Lisboa,Santo Antão e São Julião do Tojal,...,Disponível em: 01/02/2025. Reserve em linha c...,good,False,False,8.0,False,False,NaN,NaN,NaN
33897210,5,1200.0,"{'price': {'amount': 1200.0, 'currencySuffix':...",flat,43.0,1,1,rua Giovanni Antinori,Lisboa,Ajuda,...,Disponível em: 01/02/2025. Reserve em linha c...,good,False,True,28.0,False,False,NaN,NaN,NaN

In [14]:
df.floor.unique()

array(['3', nan, '5', '1', 'bj', '2', '4', '8', '7', 'st', '6', '9', '13',
       '11', '12', '15', '14', '10', '17', 'ss', '-1', '16'], dtype=object)

In [15]:
df[df.floor == 'ss']

,floor,price,priceInfo,propertyType,size,rooms,bathrooms,address,province,municipality,...,description,status,newDevelopment,hasLift,priceByArea,topNewDevelopment,topPlus,neighborhood,parkingSpace,newDevelopmentFinished
propertyCode,,,,,,,,,,,,,,,,,,,,,
33874573,ss,1500.0,"{'price': {'amount': 1500.0, 'currencySuffix':...",flat,151.0,3,2,praceta Cesário Verde,Lisboa,Massamá e Monte Abraão,...,Apartamento T3 para arrendamento em Massamá A ...,good,False,True,10.0,False,False,NaN,NaN,NaN

In [16]:
df.floor = df.floor.str.replace('bj', '0')
df.floor = df.floor.str.replace('-', '')
df.floor = df.floor.str.replace('st', '-1')
df.floor = df.floor.str.replace('ss', '-1')
df.floor = df.floor.astype(float)

In [17]:
df.floor.describe()

count    1620.000000
mean        2.624074
std         2.408558
min        -1.000000
25%         1.000000
50%         2.000000
75%         3.000000
max        17.000000
Name: floor, dtype: float64

In [18]:
df.priceInfo.unique()

array(["{'price': {'amount': 760.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 850.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1807.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3950.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4456.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3122.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 5000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2337.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2068.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1100.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1400.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4580.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3600.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2475.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2150.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2250.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1950.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2050.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1600.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1700.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 700.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1850.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 975.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1300.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2400.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1650.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2300.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2595.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1150.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1250.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3650.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3300.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 13000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2700.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1080.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1580.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 775.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1860.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 7750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1280.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1350.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6000.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 7800.0, 'priceDropValue': 1800, 'priceDropPercentage': 23}}}",
       "{'price': {'amount': 1750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3400.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3550.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2060.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2199.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2290.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1050.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2950.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 800.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 850.0, 'priceDropValue': 50, 'priceDropPercentage': 6}}}",
       "{'price': {'amount': 2500.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 3000.0, 'priceDropValue': 500, 'priceDropPercentage': 17}}}",
       "{'price': {'amount': 2200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 950.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1550.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2350.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 8000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1490.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1450.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6700.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 15000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3450.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2100.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1800.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2000.0, 'priceDropValue': 200, 'priceDropPercentage': 10}}}",
       "{'price': {'amount': 4800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1852.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 7900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1326.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 7950.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 9500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2600.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 790.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3100.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 920.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 20000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1290.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1350.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1500.0, 'priceDropValue': 150, 'priceDropPercentage': 10}}}",
       "{'price': {'amount': 4100.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2450.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1975.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1550.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1700.0, 'priceDropValue': 150, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 5500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 925.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 990.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2177.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1440.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3360.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4692.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 920.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1050.0, 'priceDropValue': 130, 'priceDropPercentage': 12}}}",
       "{'price': {'amount': 1900.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2000.0, 'priceDropValue': 100, 'priceDropPercentage': 5}}}",
       "{'price': {'amount': 870.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2423.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 875.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 890.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 8500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1950.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2250.0, 'priceDropValue': 300, 'priceDropPercentage': 13}}}",
       "{'price': {'amount': 3690.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1380.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2200.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 3000.0, 'priceDropValue': 800, 'priceDropPercentage': 27}}}",
       "{'price': {'amount': 5100.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2650.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1550.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2150.0, 'priceDropValue': 600, 'priceDropPercentage': 28}}}",
       "{'price': {'amount': 7500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1980.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 7200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 9000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1730.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1940.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1510.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2160.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2380.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1600.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1700.0, 'priceDropValue': 100, 'priceDropPercentage': 6}}}",
       "{'price': {'amount': 2689.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1400.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1500.0, 'priceDropValue': 100, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 9800.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 10500.0, 'priceDropValue': 700, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 1000.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1100.0, 'priceDropValue': 100, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 3150.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2850.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3250.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1780.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 11400.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 999.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1250.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1350.0, 'priceDropValue': 100, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 600.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 11000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 10500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2780.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1890.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2920.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1185.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2190.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1275.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2844.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2083.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 4600.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1500.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1600.0, 'priceDropValue': 100, 'priceDropPercentage': 6}}}",
       "{'price': {'amount': 1690.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2600.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2800.0, 'priceDropValue': 200, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 6200.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1375.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1320.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1100.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1200.0, 'priceDropValue': 100, 'priceDropPercentage': 8}}}",
       "{'price': {'amount': 1300.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1500.0, 'priceDropValue': 200, 'priceDropPercentage': 13}}}",
       "{'price': {'amount': 1958.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 820.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3570.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3701.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 7000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1100.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1475.0, 'priceDropValue': 375, 'priceDropPercentage': 25}}}",
       "{'price': {'amount': 725.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1790.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3700.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1090.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 675.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 915.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1390.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1990.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1021.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6480.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 16000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 25000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1590.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1700.0, 'priceDropValue': 110, 'priceDropPercentage': 6}}}",
       "{'price': {'amount': 4000.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 4500.0, 'priceDropValue': 500, 'priceDropPercentage': 11}}}",
       "{'price': {'amount': 10000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1325.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1190.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1140.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 9900.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 17000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2640.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1450.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1550.0, 'priceDropValue': 100, 'priceDropPercentage': 6}}}",
       "{'price': {'amount': 1887.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2083.0, 'priceDropValue': 196, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 2554.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2936.0, 'priceDropValue': 382, 'priceDropPercentage': 13}}}",
       "{'price': {'amount': 14000.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 9750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 780.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2500.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2800.0, 'priceDropValue': 300, 'priceDropPercentage': 11}}}",
       "{'price': {'amount': 2480.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2000.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2200.0, 'priceDropValue': 200, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 2550.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1850.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1990.0, 'priceDropValue': 140, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 995.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2490.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2750.0, 'priceDropValue': 260, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 1985.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2890.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1065.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1200.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1300.0, 'priceDropValue': 100, 'priceDropPercentage': 8}}}",
       "{'price': {'amount': 990.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1150.0, 'priceDropValue': 160, 'priceDropPercentage': 14}}}",
       "{'price': {'amount': 7000.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 7500.0, 'priceDropValue': 500, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 11800.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2125.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1208.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 990.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1100.0, 'priceDropValue': 110, 'priceDropPercentage': 10}}}",
       "{'price': {'amount': 1090.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1200.0, 'priceDropValue': 110, 'priceDropPercentage': 9}}}",
       "{'price': {'amount': 1391.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1274.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 6910.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1590.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 3990.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 4200.0, 'priceDropValue': 210, 'priceDropPercentage': 5}}}",
       "{'price': {'amount': 1395.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 18500.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1295.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 607.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 2126.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1314.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 948.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1740.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2000.0, 'priceDropValue': 260, 'priceDropPercentage': 13}}}",
       "{'price': {'amount': 1950.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2100.0, 'priceDropValue': 150, 'priceDropPercentage': 7}}}",
       "{'price': {'amount': 900.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1000.0, 'priceDropValue': 100, 'priceDropPercentage': 10}}}",
       "{'price': {'amount': 4750.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1600.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 1800.0, 'priceDropValue': 200, 'priceDropPercentage': 11}}}",
       "{'price': {'amount': 3210.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1005.0, 'currencySuffix': '€/mês'}}",
       "{'price': {'amount': 1750.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2000.0, 'priceDropValue': 250, 'priceDropPercentage': 13}}}",
       "{'price': {'amount': 1900.0, 'currencySuffix': '€/mês', 'priceDropInfo': {'formerPrice': 2100.0, 'priceDropValue': 200, 'priceDropPercentage': 10}}}",

In [19]:
# Function to parse the price and coalesce the formerPrice
def extract_former_price(price_str):
    # Parse the string to a dictionary
    price_dict = ast.literal_eval(price_str)
    price_info = price_dict.get('price', {})
    amount = price_info.get('amount')  # Current price
    price_drop_info = price_info.get('priceDropInfo', {})
    former_price = price_drop_info.get('formerPrice')  # Former price, if available
    # Coalesce formerPrice with the current price
    return former_price if former_price is not None else amount

# Apply the function to create the formerPrice column
df['formerPrice'] = df['priceInfo'].apply(extract_former_price)
df['priceChange'] = df['formerPrice'] - df['price']
df = df.drop(columns=['priceInfo'])

In [20]:
df['formerPrice']

propertyCode
33897215     760.0
33892870     850.0
33897203    1807.0
33892869    1500.0
33897210    1200.0
             ...
32694952    2340.0
33446673    5000.0
32865604    3800.0
32694950    2289.0
33051586    2289.0
Name: formerPrice, Length: 3000, dtype: float64

In [21]:
df.head()

,floor,price,propertyType,size,rooms,bathrooms,address,province,municipality,district,...,newDevelopment,hasLift,priceByArea,topNewDevelopment,topPlus,neighborhood,parkingSpace,newDevelopmentFinished,formerPrice,priceChange
propertyCode,,,,,,,,,,,,,,,,,,,,,
33897215,3.0,760.0,flat,30.0,1,1,travessa da Cara,Lisboa,Misericórdia,Bairro Alto,...,False,False,25.0,False,False,NaN,NaN,NaN,760.0,0.0
33892870,NaN,850.0,studio,50.0,0,1,beco João Alves,Lisboa,Ajuda,Rio Seco - Casalinho,...,False,False,17.0,False,False,NaN,NaN,NaN,850.0,0.0
33897203,NaN,1807.0,studio,25.0,0,1,rua do Conde de Redondo,Lisboa,Santo António,Campo de Santana - Santa Marta,...,False,False,72.0,False,False,NaN,NaN,NaN,1807.0,0.0
33892869,NaN,1500.0,flat,180.0,3,2,rua de Entre-Muros,Lisboa,Santo Antão e São Julião do Tojal,NaN,...,False,False,8.0,False,False,NaN,NaN,NaN,1500.0,0.0
33897210,5.0,1200.0,flat,43.0,1,1,rua Giovanni Antinori,Lisboa,Ajuda,Rio Seco - Casalinho,...,False,True,28.0,False,False,NaN,NaN,NaN,1200.0,0.0

In [22]:
df.parkingSpace.unique()

array([nan,
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': True}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 100.0}",
       "{'hasParkingSpace': True, 'isParkingSpaceIncludedInPrice': False, 'parkingSpacePrice': 300.0}"],
      dtype=object)

In [23]:
df['parkingSpace'] = df['parkingSpace'].fillna('{}')
df['parsed'] = df['parkingSpace'].apply(ast.literal_eval)
df['hasParkingSpace'] = df['parsed'].apply(lambda x: x.get('hasParkingSpace', False))
df['isParkingSpaceIncludedInPrice'] = df['parsed'].apply(lambda x: x.get('isParkingSpaceIncludedInPrice', False))
df.drop(columns=['parkingSpace', 'parsed'], inplace=True)

In [24]:
df.head()

,floor,price,propertyType,size,rooms,bathrooms,address,province,municipality,district,...,hasLift,priceByArea,topNewDevelopment,topPlus,neighborhood,newDevelopmentFinished,formerPrice,priceChange,hasParkingSpace,isParkingSpaceIncludedInPrice
propertyCode,,,,,,,,,,,,,,,,,,,,,
33897215,3.0,760.0,flat,30.0,1,1,travessa da Cara,Lisboa,Misericórdia,Bairro Alto,...,False,25.0,False,False,NaN,NaN,760.0,0.0,False,False
33892870,NaN,850.0,studio,50.0,0,1,beco João Alves,Lisboa,Ajuda,Rio Seco - Casalinho,...,False,17.0,False,False,NaN,NaN,850.0,0.0,False,False
33897203,NaN,1807.0,studio,25.0,0,1,rua do Conde de Redondo,Lisboa,Santo António,Campo de Santana - Santa Marta,...,False,72.0,False,False,NaN,NaN,1807.0,0.0,False,False
33892869,NaN,1500.0,flat,180.0,3,2,rua de Entre-Muros,Lisboa,Santo Antão e São Julião do Tojal,NaN,...,False,8.0,False,False,NaN,NaN,1500.0,0.0,False,False
33897210,5.0,1200.0,flat,43.0,1,1,rua Giovanni Antinori,Lisboa,Ajuda,Rio Seco - Casalinho,...,True,28.0,False,False,NaN,NaN,1200.0,0.0,False,False

In [25]:
df[df.hasLift.isnull()].head()

,floor,price,propertyType,size,rooms,bathrooms,address,province,municipality,district,...,hasLift,priceByArea,topNewDevelopment,topPlus,neighborhood,newDevelopmentFinished,formerPrice,priceChange,hasParkingSpace,isParkingSpaceIncludedInPrice
propertyCode,,,,,,,,,,,,,,,,,,,,,
33896888,NaN,3950.0,chalet,172.0,4,3,São João,Lisboa,Cascais e Estoril,Estoril,...,NaN,23.0,False,False,São João,NaN,3950.0,0.0,False,False
33896900,NaN,2250.0,chalet,375.0,4,3,São João das Lampas e Terrugem,Lisboa,São João das Lampas e Terrugem,NaN,...,NaN,6.0,False,False,NaN,NaN,2250.0,0.0,False,False
33896470,NaN,4000.0,chalet,184.0,4,3,rua Brincos de Princesa,Lisboa,Sintra,Abrunheira - Albarraque,...,NaN,22.0,False,False,NaN,NaN,4000.0,0.0,True,True
33896238,NaN,2700.0,flat,177.0,4,3,rua Carlos Calisto s/n,Lisboa,Belém,Restelo,...,NaN,15.0,False,False,NaN,NaN,2700.0,0.0,False,False
33896208,NaN,1650.0,flat,54.0,1,1,rua de São Nicolau s/n,Lisboa,Santa Maria Maior,Baixa,...,NaN,31.0,False,False,NaN,NaN,1650.0,0.0,False,False

In [26]:
df.columns

Index(['floor', 'price', 'propertyType', 'size', 'rooms', 'bathrooms',
       'address', 'province', 'municipality', 'district', 'country',
       'latitude', 'longitude', 'showAddress', 'url', 'distance',
       'description', 'status', 'newDevelopment', 'hasLift', 'priceByArea',
       'topNewDevelopment', 'topPlus', 'neighborhood',
       'newDevelopmentFinished', 'formerPrice', 'priceChange',
       'hasParkingSpace', 'isParkingSpaceIncludedInPrice'],
      dtype='object')

In [27]:
df.to_csv(f'../data/processed/{file_name}', index=True)