In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import ast

In [2]:
df = pd.read_csv('../data/victorianomh/idealista-barcelona-raw-scraped-data/raw_data.csv', index_col='id')

In [3]:
df

,title,neighborhood,price,info_features,features,description
id,,,,,,
103375204,Flat / apartment for sale in calle de Sant Pau...,"El Raval, Barcelona","530,000","['80 m²', '2 bed.', '3rd floor exterior with l...","[['80 m² built', '2 bedrooms', '1 bathroom', '...","Beautiful renovated apartment of 80 m2, 2 bedr..."
94000904,Flat / apartment for sale in Hospìtal,"El Raval, Barcelona","165,000","['58 m²', '2 bed.', '3rd floor exterior withou...","[['58 m² built, 49 m² floor area', '2 bedrooms...",This two-bedroom flat is located in an unbeata...
104382041,Flat / apartment for sale in El Raval,"Ciutat Vella, Barcelona","430,000","['155 m²', '3 bed.', '1st floor exterior with ...","[['155 m² built, 89 m² floor area', '3 bedroom...",Spacious and modern apartment on one side of L...
97791792,Flat / apartment for sale in rambla del Raval,"El Raval, Barcelona","279,999","['89 m²', '2 bed.', '3rd floor exterior withou...","[['89 m² built, 80 m² floor area', '2 bedrooms...","MERC SANT ANTONI - RAMBLA RAVAL, two apartment..."
104397583,Flat / apartment for sale in calle de les Carr...,"El Raval, Barcelona","230,000","['70 m²', '2 bed.', '1st floor exterior with l...","[['70 m² built', '2 bedrooms', '2 bathrooms', ...",Immotecnics exclusively presents this incredib...
...,...,...,...,...,...,...
104095205,Flat / apartment for sale in calle de las Nava...,"El Camp de l'Arpa del Clot, Barcelona","249,633","['63 m²', '2 bed.', '2nd floor exterior with l...","[['63 m² built, 55 m² floor area', '2 bedrooms...",NAVAS DE TOLOSA STREET: Apartment to partially...
101548114,Flat / apartment for sale in El Camp de l'Arpa...,"Sant Martí, Barcelona","480,000","['93 m²', '3 bed.', '4th floor exterior with l...","[['93 m² built, 78 m² floor area', '3 bedrooms...",Fincas Llopart presents this magnificent apart...
104334424,"Flat / apartment for sale in calle d'Aragó, 543","El Camp de l'Arpa del Clot, Barcelona","218,900","['46 m²', '2 bed.', '2nd floor without lift']","[['46 m² built, 40 m² floor area', '2 bedrooms...","Floor 2nd, flat total surface area 46 m², usab..."
103060431,Flat / apartment for sale in freser,"El Camp de l'Arpa del Clot, Barcelona","245,000","['67 m²', '1 bed.', '5th floor interior with l...","[['67 m² built', '1 bedroom', '1 bathroom', 'S...","67 m2 apartment on Freser street, next to Pass..."
103758599,Flat / apartment for sale in calle de Còrsega,"El Camp de l'Arpa del Clot, Barcelona","338,000","['81 m²', '4 bed.', '2nd floor exterior with l...","[['81 m² built', '4 bedrooms', '1 bathroom', '...","Floor 2nd, flat total surface area 81 m², usab..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10389 entries, 103375204 to 103758599
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   title          10389 non-null  object
 1   neighborhood   10389 non-null  object
 2   price          10389 non-null  object
 3   info_features  10389 non-null  object
 4   features       10389 non-null  object
 5   description    10389 non-null  object
dtypes: object(6)
memory usage: 568.1+ KB

In [5]:
df.isnull().sum()

title            0
neighborhood     0
price            0
info_features    0
features         0
description      0
dtype: int64

In [6]:
df.columns

Index(['title', 'neighborhood', 'price', 'info_features', 'features',
       'description'],
      dtype='object')

In [7]:
df["title"] = df["title"].str.strip()
df["property_type"] = df["title"].str.split(" for sale").str[0]
df["address"] = df["title"].str.split(" for sale in ").str[1]

In [8]:
df["property_type"].unique()

array(['Flat / apartment', 'Studio flat', 'Penthouse', 'Duplex', 'House',
       'Semi-detached house', 'Terraced house', 'Detached house',
       'Estate', 'Village house', 'Tower'], dtype=object)

In [9]:
df["address"]

id
103375204           calle de Sant Pau, 25
94000904                         Hospìtal
104382041                        El Raval
97791792                 rambla del Raval
104397583           calle de les Carretes
                         ...
104095205    calle de las Navas de Tolosa
101548114      El Camp de l'Arpa del Clot
104334424              calle d'Aragó, 543
103060431                          freser
103758599                calle de Còrsega
Name: address, Length: 10389, dtype: object

In [10]:
df["city"] = df["neighborhood"]
df["neighborhood"] = df["neighborhood"].str.split(",").str[0].str.strip()
df["city"] = df["city"].str.split(",").str[1].str.strip()
# If city is nan, then assign it to be equal to the neighborhood
df.loc[df["city"].isnull(), "city"] = df.loc[df["city"].isnull(), "neighborhood"]

In [11]:
df["neighborhood"].unique()

array(['El Raval', 'Ciutat Vella', 'El Gòtic', 'La Barceloneta', 'Horta',
       'Horta Guinardó', 'Ciutat Meridiana - Torre Baró - Vallbona',
       'Nou Barris', 'Sant Martí', 'La Verneda i la Pau',
       'Sant Pere - Santa Caterina i la Ribera',
       "El Camp d'En Grassot i Gràcia Nova",
       'Can Peguera - El Turó de la Peira',
       'La Vila Olímpica del Poblenou', 'Eixample', 'La Sagrada Família',
       'El Carmel', 'El Besós', "La Dreta de l'Eixample",
       "La Nova Esquerra de l'Eixample", 'La Sagrera', 'Sant Andreu',
       'El Clot', "L'Antiga Esquerra de l'Eixample", 'Sant Antoni',
       'El Putxet i el Farró', 'Porta',
       'Diagonal Mar i el Front Marítim del Poblenou', 'Sants-Montjuïc',
       'El Poble Sec - Parc de Montjuïc', 'Vila de Gràcia', 'Gràcia',
       'La Marina del Prat Vermell', 'Sarrià-Sant Gervasi', 'Sarrià',
       'El Guinardó', 'Canyelles', 'Sant Martí de Provençals',
       'La Marina del Port', 'Les Roquetes', 'Riu', 'Singuerlín',
       'Santa Rosa - Can Mariner', 'Riera Alta - Llatí',
       'Santa Coloma de Gramenet', 'Centre', 'Fondo',
       'La Font de la Guatlla', 'Vallvidrera - El Tibidabo i les Planes',
       'Sant Gervasi - La Bonanova', "La Vall d'Hebron - La Clota",
       'Vilapicina i la Torre Llobeta', 'Provençals del Poblenou',
       'Hostafrancs', 'Pedralbes', 'Les Corts', 'El Poblenou',
       'La Bordeta', 'Sant Gervasi - Galvany', 'Sants - Badal', 'El Coll',
       'Can Baró', 'La Trinitat Vella', 'Sant Josep', 'Sanfeliu',
       'La Torrasa', 'Pubilla Cases', 'La Florida - Les Planes',
       'Collblanc', 'La Florida', 'Les Planes', 'Santa Eulàlia',
       'Bellvitge', 'Can Serra - Pubilla Cases', 'Sants', 'La Salut',
       'La Teixonera', 'Sant Crist', 'Montigalà', 'Casagemes', 'Puigfred',
       'Port', 'Llefià', 'Sistrells', 'Badalona', 'Montigalà -Sant Crist',
       'La Morera', 'Progrés-Pep Ventura', 'Bufalà', 'Gorg - Progrés',
       'Gorg', 'Canyadó', 'Remei', 'La Salut - Lloreda - Sistrells',
       'Llefià - Sant Roc - Artigues', 'La Maternitat i Sant Ramon',
       'Vallcarca i els Penitents', 'El Baix Guinardó', 'El Besòs',
       'Verdun', "El Camp de l'Arpa del Clot", 'La Prosperitat',
       'Sant Adriá de Besós', "La Font d'En Fargues",
       'Sant Genís Dels Agudells - Montbau', 'Navas', 'Les Tres Torres',
       'Granvia L-H', 'Gran Via L-H', 'El Congrés i els Indians',
       'Sant Roc', 'Lloreda', 'Bonavista', 'Pomar', 'El Bon Pastor',
       'El Fort Pienc', 'Sant Adriá Nord', 'La Mina', 'La Trinitat Nova',
       'Can Serra', 'Canyet', 'Congrés', 'Sant Joan Baptista', 'La Pau',
       'Artigues', 'La Guineueta', 'El Parc i la Llacuna del Poblenou',
       'Mas Ram', 'Manresa', 'Carretera del Mig', 'Casagemes - Canyadó',
       'Baró de Viver'], dtype=object)

In [12]:
df["city"].unique()

array(['Barcelona', 'Sant Adriá de Besós', 'Santa Coloma de Gramenet',
       'Hospitalet de Llobregat', 'Badalona'], dtype=object)

In [13]:
df['price'] = df['price'].str.replace(',','').astype(int)

In [14]:
df['features'] = df['features'].apply(ast.literal_eval)

In [15]:
df.loc[103375204, 'features']

[['80 m² built',
  '2 bedrooms',
  '1 bathroom',
  'Terrace and balcony',
  'Second hand/good condition',
  'Built in 1912',
  'Central heating'],
 ['3rd floor exterior', 'With lift'],
 ['Air conditioning'],
 ['Consumption:91 kWh/m² year', 'Emissions:17 kg CO2/m² year']]